.page-title
  %h4 Editing Translator

.card
  .card-block
    %h4.card-title Form Translator

    = render 'form'

    = link_to translators_path, class: 'btn btn-default' do
      %i.fa.fa-chevron-left
      Back

    = link_to @translator, class: 'btn btn-info' do
      %i.fa.fa-eye
      Show
