.footer
  .copyright
    %span
      Copyright © 2017
      = succeed "." do
        %b.text-dark Codingate
    %span.go-right
      %a.text-gray.mrg-right-15{:href => ""} Term &amp; Conditions
      %a.text-gray{:href => ""} Privacy &amp; Policy
